.App {
  text-align: center;
}

body {
  background-color: rgb(127, 246, 255);
}

p {
  padding: 5%;
}

h1 {
  font-size: 55px;
}

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#chooseColor {
  width: 10%;
  height: 50px;
  margin: auto;
  background-color: rgb(127, 246, 255);
  border: none;
}

.selectOptions {
  font-size: 40px;
  background-color: rgb(190, 246, 107);
  color: rgb(0, 0, 0);
  border: 2px solid white;
  width: fit-content;
  margin: auto;
}

.colorLabel {
  font-size: 35px;
  color: black;
  width: fit-content;
  margin: auto;
}

.clickNav {
  cursor: pointer;
  background-color: rgb(22, 143, 219);
  font-size: 25px;
  color: white;
  width: 150px;
  margin: auto;
  border: 2px solid black;
  border-radius: 25px;
}

.clickbtn {
  cursor: pointer;
  background-color: rgb(22, 143, 219);
  font-size: 35px;
  color: white;
  padding-right: 7px;
  padding-left: 7px;
  width: fit-content;
  margin: auto;
  border-radius: 35px;
}

.flexboxContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin:auto;
  min-height: 50px;
  height: 50%;
}

.flexboxContainerLine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 70%;
  margin:auto;
  font-size: 35px;
}

.inputLabel {
  font-size: 25px;
  text-align: center;
  width: fit-content;
  margin:auto;
}

.redBG {
  font-size: 25px;
  text-align: center;
  width: fit-content;
  margin:auto;
  background-color: rgba(241, 38, 38, 0.5);
}

.greenBG {
  font-size: 25px;
  text-align: center;
  width: fit-content;
  margin:auto;
  background-color: rgba(38, 241, 143, 0.5);
}

.roomInfo {
  flex-direction: column;
  font-size: 20px;
  height: fit-content;
  margin-top: 10%; 
}

@keyframes fadeInFromBottom {
  from
  {top: 15%;
  opacity: 0;}
  to 
  {top: 0px;
  opacity: 1;}
}

.overlay {
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 250, 254, 0.4);
  animation: fadeInFromBottom 1s ease-in-out;
}

.roomCloseLabel {
  position: absolute;
  cursor: pointer;
  text-align: right;
  font-size: 25px;
  font-weight: 600;
  width: fit-content;
  right: 15px;
  top: 15px;
  height: fit-content;
  margin: auto;
  color: rgb(255, 0, 0);
}

.roomNameLabel {
  font-size: 30px;
  font-weight: 800;
  text-decoration: underline;
  min-width: 40%;
  max-width: 80%;
  width: fit-content;
  height: fit-content;
  background-color: rgb(5, 244, 236);
  margin: auto;
  color: rgb(0, 0, 0);
}

.roomDataLabel {
  position: relative;
  font-size: 20px;
  min-width: 40%;
  max-width: 80%;
  height: fit-content;
  background-color: aliceblue;
  margin: auto;
  color: rgb(0, 0, 0);
  border: 4px solid black;
}

.roomData {
  padding: 5px;
  flex-direction: column;
  font-size: 25px;
  /* text-align: center; */
  width: fit-content;
  padding: 8px;
  margin: auto;
  margin-bottom: 20px;
  border: 5px rgb(0, 255, 21) solid;
  border-radius: 25px;
}

input {
  margin: 5px;
}

.roomPreview {
  font-size: 35px;
  width: 25%;
  margin: 15px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
}

.productStyle {
  font-size: 20px;
  margin: 15px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  padding: 3px;
}

.productSize {
  width: 100px;
}

.errorMessage {
  margin: auto;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 600;
  color: darkred;
}

@media (max-width: 450px) {

  h1 {
    font-size: 30px;
  }

  .clickNav {
    cursor: pointer;
    background-color: rgb(22, 143, 219);
    font-size: 20px;
    color: white;
    width: 100px;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
  }

  .addRoom {
    cursor: pointer;
    background-color: rgb(135, 147, 235);
    font-size: 105px;
    font-weight: bold;
    border: 3px solid black;
    color: black;
    width: 40%;
    margin: auto;
    border-radius: 100%;
  }

  .selectOptions {
    font-size: 25px;
    background-color: rgb(190, 246, 107);
    color: rgb(0, 0, 0);
    border: 2px solid white;
    width: fit-content;
    margin: auto;
  }

  .inputLabel {
    font-size: 15px;
    text-align: center;
    width: fit-content;
    margin:auto;
  }

  .redBG {
    font-size: 15px;
    text-align: center;
    width: fit-content;
    margin:auto;
    background-color: rgba(241, 38, 38, 0.5);
  }
  
  .greenBG {
    font-size: 15px;
    text-align: center;
    width: fit-content;
    margin:auto;
    background-color: rgba(38, 241, 143, 0.5);
  }

  .colorLabel {
    font-size: 20px;
    color: black;
    width: fit-content;
    margin: auto;
  }

  .clickbtn {
    cursor: pointer;
    background-color: rgb(22, 143, 219);
    font-size: 25px;
    color: white;
    width: fit-content;
    margin: auto;
    border-radius: 25px;
  }

  .roomPreview {
    font-size: 20px;
    width: 32%;
    margin: 5px;
  }

  .roomData {
    font-size: 17px;
  }
  
  .flexboxContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin: auto;
    min-height: 50px;
    height: 50%;
  }

  .productSize {
    width: 60px;
  }

  .errorMessage {
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    color: darkred;
  }

}

@media (min-width: 450px) {

  .addRoom {
    cursor: pointer;
    background-color: rgb(135, 147, 235);
    font-size: 180px;
    font-weight: bold;
    border: 3px solid black;
    color: black;
    width: 30%;
    margin: auto;
    border-radius: 100%;
  }

}

@media (min-width: 1000px) {

  .addRoom {
    cursor: pointer;
    background-color: rgb(135, 147, 235);
    font-size: 270px;
    font-weight: bold;
    border: 3px solid black;
    color: black;
    width: 20%;
    margin: auto;
    border-radius: 100%;
  }

}